@import "tailwindcss";

:root {
  transition-duration: 1s;
  --red-tomato: #2c3e50;
  &.short {
    --red-tomato: #333333;
  }
  &.long {
    --red-tomato: #1a1a1a;
  }
}

@theme {
  --color-red-tomato: var(--red-tomato);
}

.nav-list li:not(:last-child, :has(a)) {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

@media (width <= 640px) {
  .nav-list li span {
    display: none;
  }
}
@media (width <= 350px) {
  header h1 span {
    display: none;
  }
}
@media (width <= 230px) {
  header {
    display: none;
  }
}

.signin label {
  @apply text-gray-400 mb-1;
}
